.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  /* border: 1px solid red; */
}

.wrapper {
	position: relative;
  padding: 15px;
  /* border: 1px solid red; */
  width: 50%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.wrapper:before, .wrapper:after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
}

.wrapper:before {
    top: 0;
    left:0;
    right: 60%;
	bottom: 100%;
    border-top: 6px solid rgb(220, 220, 54);
    border-left: 6px solid rgb(220, 220, 54);
}
.wrapper:after {
  bottom: 0;
  right:0;
 left: 60%;
top: 100%;
  border-top: 6px solid rgb(220, 220, 54);
  border-left: 6px solid rgb(220, 220, 54);
}
.qoutesHolder{
  display: flex;
  /* border: 1px solid blue; */
  width: 100%;
}
.qoutesHolder0{
  display: flex;
  justify-content: flex-start;
width: 20%;
  /* border: 1px solid blue; */
}
.qoutesHolder1{
  width: 60%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.qoutesHolder2{
  display: flex;
  justify-content: flex-end;
  align-items: end;
width: 20%;
}
.qoutesHolder1 h1{
  font-weight: 100;
}
.qoutesHolder1 h2{
  
}

@media screen and (max-width:760px) {
  
.wrapper {
	width: 100%;
}
.qoutesHolder0 img, .qoutesHolder2 img{
  width: 40px;
  height: 40px;
}
}